{% extends "base.html" %}
{% load static %}

{% block loading %}
<div id="loading">
    <img id="loading-image" src="{% static 'routes/thinker.gif' %}" alt="Loading..." />
</div>
<div id="timetravel">
    <img id="timetravel-image" src="{% static 'routes/creepy-hand.gif' %}" alt="Firing up Flux Capacitor..."/>
</div>
{% endblock %}

{% block input %}
<p>
    Nice location!<br>
    Now enter the target time for you walk and let's get generating...
</p>
<h2>Input: Route Generation</h2>
<form action="/routegen/" method="POST"> {% csrf_token %}
    <label for="target_time">Target Time (mins):</label>
    <input 
        oninput="check(this)"
        type="number"
        id="target_time" 
        name="target_time" 
        min="0" 
        max="120" 
        step="1" 
        value="10"
        required>
    <br>
    <button id="abc" type="submit">Generate New Route</button>
</form>
<a href="/walk">Next: Start Walk</a>
{% endblock %}

{% block scriptSetTargetTime %}
<script>
    // persist form value from previous submission
    $("#target_time").val({{target_time}});

    // set custom validity for time < 0, and timetravel effect
    function check(input) {
        console.log('inside check() function :: oninput')
        if (input.validity.rangeUnderflow) {
            console.log('Inside IF :: rangeUnderflow==True')
            input.setCustomValidity("Time travel is currently in Beta. Please adhere to entropic time for now.");
            $('#timetravel').show();
            setTimeout(() => {$('#timetravel').hide()}, 1500);
        }
    }

</script>
{% endblock %}

{% block map %}
    <p> SERVER:<br>
        The previous input had a target time of {{target_time}} minutes.<br>
        The resulting network (below) has {{number_of_nodes}} nodes.<br>
        The turnaround point candidate is at ({{rand_lat}}, {{rand_lon}}) degrees.
    </p>
    <div class="map">
        {{folium_map|safe}}
    </div>
{% endblock %}