{% extends "home.html" %}

{% block input %}
<p>Nice location!<br><br> Enter your walk's target time and let's get generating...
</p>
<h2>Controls</h2>
<form action="/routegen/" method="POST"> {% csrf_token %}
    <label for="target_time">Target Time (mins):</label>
    <input 
        type="number" 
        id="target_time" 
        name="target_time" 
        min="-120" 
        max="120" 
        step="1" 
        value="10"
        required>
    <br>
    <button type="submit">Generate Route</button>
</form>
<a href="/walk">Start Walk</a>
{% endblock %}

{% block map %}
    <p> The previous input had a target time of {{target_time}} minutes.</p>
    <div class="map">
        {{folium_map|safe}}
    </div>
{% endblock %}