{% extends "base.html" %}

{% block input %}
<p>Nice location!<br><br> Now enter the target time for you walk and let's get generating...
</p>
<h2>Input: Route Generation</h2>
<form action="/routegen/" method="POST"> {% csrf_token %}
    <label for="target_time">Target Time (mins):</label>
    <input 
        type="number" 
        id="target_time" 
        name="target_time" 
        min="-120" 
        max="120" 
        step="1" 
        value="10"
        required>
    <br>
    <button type="submit">Generate New Route</button>
</form>
<a href="/walk">Next: Start Walk</a>
{% endblock %}

{% block scriptSetTargetTime %}
<script>
    var timeElement = document.getElementById("target_time");
    timeElement.value = {{target_time}};
</script>
{% endblock %}

{% block map %}
    <p> SERVER:<br>
        The previous input had a target time of {{target_time}} minutes.<br>
        The resulting network (below) has {{number_of_nodes}} nodes.
    </p>
    <div class="map">
        {{folium_map|safe}}
    </div>
{% endblock %}