{% extends "base.html" %}
{% load static %}

{% block message %}{% endblock %}

{% block scriptSetLatLon %}
<script>
    // persist form values from previous submission
    document.getElementById("lat").value = {{lat}};
    document.getElementById("lon").value = {{lon}};
</script>
{% endblock %}

{% block map %}
<!-- map container -->
<div id="map" style="height:100%; width:100%;"></div> 
<!-- script to build the map -->
<script src="{% static 'routes/js/map_builder.js' %}"></script> <!-- load helper functions to build the leaflet map -->
<script>
    // set vars from jinja2
    var lat = {{lat}}
    var lon = {{lon}}

    // make the map
    buildmap_base(lat, lon)
</script>

{% endblock %}