{% extends "base.html" %}
{% load static %}

{% block message %}
<!-- Render popup if it's not a POST request -->
{% if is_POST_request == 0 %}
<!-- info message popup -->
<section class="section py-2">
    <article class="message is-warning">
        <div class="message-header">
            <p>Cool spot</p>
            <button class="delete" aria-label="delete is-medium"></button>
        </div>
        <div class="message-body">
            Embarkation location locked. Now set an upper time limit and let's generate some routes. When satisfied hit <em>Walk</em>. <br><br><b>Tip:</b> Press <em>Route it</em> again. 🧭
        </div>
    </article>
</section>
{% endif %}
{% endblock %}


{% block input %}

{{except_html|safe}}

<div class="box mb-1 pb-1">
    <form class="" id="form_time" action="/routegen/" method="POST"> {% csrf_token %}
        <div class="field has-addons is-centered">
            <!-- <label class="label" for="target_time">Target Time (mins):</label> -->
            <div class="control has-icons-left is-expanded">
                <input class = "input"
                    placeholder="time(m)"
                    title="target time (mins)"
                    onchange="check(this)"
                    type="number"
                    id="target_time"
                    name="target_time" 
                    value=""
                    min="0" 
                    max="120" 
                    step="1" 
                    required
                    >
                <span class="icon is-left">
                    <i class="far fa-clock"></i>
                </span>
            </div>
            <div class="control">
                <button class="button is-info" id="submit_route" type="submit" autofocus>
                    <span class="icon">
                        <i class="fas fa-route"></i>
                    </span>
                    <span>Route It</span>
                    <span class="icon">
                        <i class="fas fa-sync-alt"></i>
                    </span>
                </button>
            </div>
            <div class="control">
                <a id="goto_walk" class="button is-danger is-outlined" href="/walk">
                    <span>Walk</span>
                    <!-- <span class="icon is-medium">
                        <i class="fas fa-walking"></i>
                    </span> -->
                    <span class="icon">
                        <i class="fas fa-arrow-circle-right"></i>
                    </span>
                </a>
            </div>
            <p id="loading_text" class="help is-hidden">
                Processing... first time will take longer.
            </p>
            <!-- <p class="help">This is a form validation message</p> -->
        </div>
        <input id="is_new_time" name="is_new_time" type="hidden" value="0">
        <input id="is_first_request" name="is_first_request" type="hidden" value="1">

    </form> 

    <div> <!-- stats from route generator -->
        <div>distance: {{route_distance}} miles | speed: {{route_speed}} mph | time: {{route_time}} minutes (round trip)</div>
        <!-- <div>speed: {{route_speed}} mph</div>
        <div>time: {{route_time}} minutes (one way)</div> -->
    </div>
</div>



<!-- Handle is_first_request value -->
{% if is_first_request == 0 %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("is_first_request").value = 0;
    })
</script>
{% endif %}

{% endblock %}

{% block scriptSetTargetTime %}
<script>
    document.addEventListener("DOMContentLoaded",  () => {
    
        // // show loading gif after form submit
        // document.getElementById("form_time").addEventListener('submit', () => {
        //     document.getElementById("loading").classList.remove("is-hidden");
        // });
        // show button is-loading animation
        const form_el = document.getElementById("form_time");
        const button_el = document.getElementById("submit_route");
        const help_el = document.getElementById("loading_text");
        form_el.addEventListener("submit", () => {
            button_el.classList.add("is-loading");
            help_el.classList.remove("is-hidden");
        });

        // persist form value from previous submission
        document.getElementById("target_time").value = {{target_time}};

        // set custom validity when time < 0, unhide timetravel effect
        function check(input) {
            if (input.validity.rangeUnderflow) {
                input.setCustomValidity("Time travel is in Beta. Please use entropic time for now.");
                document.getElementById("timetravel").classList.remove("is-hidden");
                setTimeout(() => {
                    document.getElementById("timetravel").classList.add("is-hidden");
                }, 4000);
            } else if (input.validity.rangeOverflow) {
                input.setCustomValidity("Please enter a smaller number.");
            } else {
                input.setCustomValidity("");
            }
        };

        // Listen for target_time input field change
        var el_target_time = document.getElementById("target_time");
        el_target_time.addEventListener("change", () => {
            // manage is_new_graph state
            var el_is_new_time = document.getElementById("is_new_time");
            {% if target_time|length %} //is the context variable empty?
            var t = "";
            {% else %}
            var t = {{target_time}};
            {% endif %}
            if (!t || el_target_time.value != t) {
                // target_time is different than before
                el_is_new_time.value = 1; // "True"
            } else {
                // target_time is same as before
                el_is_new_time.value = 0; // "False
            };
            // check for custom validity update
            check(el_target_time);
        });
    
    });
</script>
{% endblock %}

{% block loading %}
<!-- <div id="loading" class="is-hidden">
    <img id="loading-image" src="{% static 'routes/img/thinker.gif' %}" alt="Loading..." />
</div> -->

<div id="timetravel" class="is-hidden">
    <img id="timetravel-image" src="{% static 'routes/img/delorean.gif' %}" alt="Firing up the Flux Capacitor..."/>
</div> 
{% endblock %}

{% block map %}
    <!-- <p> SERVER:<br>
        The previous input had a target time of {{target_time}} minutes.<br>
        The resulting network (below) has {{number_of_nodes}} nodes.<br>
        The turnaround point candidate is at ({{rand_lat}}, {{rand_lon}}) degrees.
    </p> -->
    {% if routegen_exception == '' %}
        {{folium_map|safe}}
    {% else %}
        {{routegen_exception}}
    {% endif %}
{% endblock %}