{% extends "base.html" %}
{% load static %}


<div id="timetravel" hidden>
    <img id="timetravel-image" src="{% static 'routes/img/delorean.gif' %}" alt="Firing up the Flux Capacitor..."/>
</div> 
{% endblock %}

{% block input %}
<!-- Render popup if it's not a POST request -->
{% if is_POST_request == 0 %}
<!-- info message popup -->
<article class="message is-warning">
    <div class="message-header">
        <p>Not a bad spot</p>
        <button class="delete" aria-label="delete is-medium"></button>
    </div>
    <div class="message-body">
        Great. Your embarkation location is locked and loaded. Now let's add an upper time limit for the round trip and start generating some routes. When you're satisfied, hit the "Next" button below to begin the walk. <br><br>Tip: Press the "Route" button again to generate another random routes. 🐱‍👤
    </div>
</article>
<!-- script to remove info popup on delete button click -->
<script> 
document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.message .delete') || []).forEach(($delete) => {
      const $message = $delete.parentNode.parentNode;
  
      $delete.addEventListener('click', () => {
        $message.parentNode.removeChild($message);
      });
    });
  });
</script>
{% endif %}

{{except_html|safe}}

<form class="box" id="form_time" action="/routegen/" method="POST"> {% csrf_token %}
    <div class="field">
        <label class="label" for="target_time">Target Time (mins):</label>
        <div class="control">
            <input class = "input"
                onchange="check(this)"
                type="number"
                id="target_time"
                name="target_time" 
                min="0" 
                max="120" 
                step="1" 
                value="10"
                required>
        </div>
    </div>
    <input id="is_new_time" name="is_new_time" type="hidden" value="0">
    <input id="is_first_request" name="is_first_request" type="hidden" value="1">
    <button class="button is-primary" id="abc" type="submit">Find a Route</button>
    <a class="button is-danger is-outlined" href="/walk">NEXT: Start Walk</a>
</form>
<!-- Handle is_first_request value -->
{% if is_first_request == 0 %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("is_first_request").value = 0;
    })
</script>
{% endif %}

<script>
    // show loading gif while server processes request
    // $(window).on('beforeunload pagehide', () => {
    //     $('#loading').show();
    // });

    // document.addEventListener("DOMContentLoaded", () => {
    //     document.getElementById("form").addEventListener('submit', () => {
    //         document.getElementById("loading").removeAttribute("hidden");
    //     })
    // });
</script>
{% endblock %}

{% block scriptSetTargetTime %}
<script>
    // show loading gif after form submit while server processes request
    document.getElementById("form_time").addEventListener('submit', () => {
        document.getElementById("loading").removeAttribute("hidden");
    });

    // persist form value from previous submission
    // var time = document.getElementById("target_time");
    // time.value = {{target_time}};
    $("#target_time").val({{target_time}});

    // add Event Listener for when the target_time input element value changes
    document.addEventListener("DOMContentLoaded",  () => {
        var el_target_time = document.getElementById("target_time");
        el_target_time.addEventListener("change", () => {
            // manage is_new_graph state
            var el_is_new_time = document.getElementById("is_new_time");
            {% if target_time|length %} //is the variable empty?
            var t = "";
            {% else %}
            var t = {{target_time}};
            {% endif %}
            if (!t || el_target_time.value != t) {
                // target_time is different than before
                el_is_new_time.value = 1; // "True"
            } else {
                // target_time is same as before
                el_is_new_time.value = 0; // "False
            };
        });
    });


    // set custom validity for time < 0, and timetravel effect
    function check(input) {
        if (input.validity.rangeUnderflow) {
            input.setCustomValidity("Time travel is currently in Beta. Please stick with entropic time for now.");
            $('#timetravel').show();
            // document.getElementById("timetravel").style.display = "flex";
            setTimeout(() => {
                // document.getElementById("timetravel").style.display = "none";
                $('#timetravel').hide();
            }, 4000);
        } else if (input.validity.rangeOverflow) {
            input.setCustomValidity("Please enter a smaller number.")
        } else {
            input.setCustomValidity("");
        }
    }

    // time.addEventListener("change", check(time) );

</script>
{% endblock %}

{% block map %}
    <!-- <p> SERVER:<br>
        The previous input had a target time of {{target_time}} minutes.<br>
        The resulting network (below) has {{number_of_nodes}} nodes.<br>
        The turnaround point candidate is at ({{rand_lat}}, {{rand_lon}}) degrees.
    </p> -->
    {{folium_map|safe}}
{% endblock %}