{% extends "base.html" %}
{% load static %}

{% block loading %}
<div id="loading" hidden>
    <img id="loading-image" src="{% static 'routes/thinker.gif' %}" alt="Loading..." />
</div>

<div id="timetravel" hidden>
    <img id="timetravel-image" src="{% static 'routes/delorean.gif' %}" alt="Firing up Flux Capacitor..."/>
</div> 

<script>
    // show loading gif while server processes request
    $(window).on('beforeunload', () => {
        $('#loading').show();
    });
    // document.addEventListener("DOMContentLoaded", () => {
    // $(document).ready(() => {
    //     window.addEventListener("beforeunload", () => {
    //         document.getElementById("loading").style.display = "flex";
    //     }); 
    // })


    // hide loading gif once page loads
    // $(window).on('load', () => {
    //     $('#loading').hide();
    //     $('#timetravel').hide();
    // });
</script>
{% endblock %}

{% block input %}
<p>
    Nice location!<br>
    Now enter the target time for you walk and let's get generating...
</p>
<h2>Input: Route Generation</h2>
{{except_html|safe}}
<form action="/routegen/" method="POST"> {% csrf_token %}
    <label for="target_time">Target Time (mins):</label>
    <input 
        onchange="check(this)"
        type="number"
        id="target_time"
        name="target_time" 
        min="0" 
        max="120" 
        step="1" 
        value="10"
        required>
    <br>
    <button id="abc" type="submit">Generate New Route</button>
</form>
<a href="/walk">Next: Start Walk</a>
{% endblock %}

{% block scriptSetTargetTime %}
<script>
    // persist form value from previous submission
    // var time = document.getElementById("target_time");
    // time.value = {{target_time}};
    $("#target_time").val({{target_time}});

    // set custom validity for time < 0, and timetravel effect
    function check(input) {
        if (input.validity.rangeUnderflow) {
            input.setCustomValidity("Time travel is currently in Beta. Please stick with entropic time for now.");
            $('#timetravel').show();
            // document.getElementById("timetravel").style.display = "flex";
            setTimeout(() => {
                document.getElementById("timetravel").style.display = "none";
                //$('#timetravel').hide();
            }, 4000);
        } else if (input.validity.rangeOverflow) {
            input.setCustomValidity("Please enter a smaller number.")
        } else {
            input.setCustomValidity("");
        }
    }

    // time.addEventListener("change", check(time) );

</script>
{% endblock %}

{% block map %}
    <!-- <p> SERVER:<br>
        The previous input had a target time of {{target_time}} minutes.<br>
        The resulting network (below) has {{number_of_nodes}} nodes.<br>
        The turnaround point candidate is at ({{rand_lat}}, {{rand_lon}}) degrees.
    </p> -->
    {{folium_map|safe}}
{% endblock %}