{% extends "base.html" %}

{% block message %}
<section class="section">
    <article class="message is-info">
        <div class="message-header">
            <p>Time to walk</p>
            <button class="delete is-medium" aria-label="delete"></button>
        </div>
        <div class="message-body">
            Cool route. Let's go! 👞👟👞👟
        </div>
    </article>
</section>
{% endblock %}

{% block input %}

<!-- <p> SERVER: Details of chosen route...<br>
Start Location is ({{lat}}, {{lon}}) in degrees.<br>
Turnaround Location is ({{rand_lat}}, {{rand_lon}}) in degrees.<br>
Target Time is {{target_time}} minutes.
</p> -->
<div>
    <a class="button is-danger is-outlined" href="/">Return to Homepage</a> 
</div>
{% endblock %}

{% block map %}
  {{folium_map|safe}}
{% endblock %}
