{% extends "base.html" %}

{% block message %}
<section class="section">
    <article class="message is-info">
        <div class="message-header">
            <p>Time to walk</p>
            <button class="delete is-medium" aria-label="delete"></button>
        </div>
        <div class="message-body">
            Cool route. Let's go! 👞👟👞👟
        </div>
    </article>
</section>
{% endblock %}

{% block input %}

<!-- <p> SERVER: Details of chosen route...<br>
Start Location is ({{lat}}, {{lon}}) in degrees.<br>
Turnaround Location is ({{rand_lat}}, {{rand_lon}}) in degrees.<br>
Target Time is {{target_time}} minutes.
</p> -->
<div class="box mb-1 pb-1 pt-1">
    <div class="buttons is-centered">
        <a class="button is-danger is-outlined" href="/">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-undo-alt"></i>
                </span>            
                <span>Homepage</span>
            </span>
        </a> 
    </div>
</div>
{% endblock %}

{% block map %}
  {{folium_map|safe}}
{% endblock %}
